<html>
<head>
    <title>Walk ins Welcome</title>
</head>
        <title>Business Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Activities</a>
                <a class="navbar-brand" href='/businesshome'>Add or view specific business</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
        </div>
        </nav>
<body>
    {% if businesses is not empty %}
        <p> Here are the businesses offering fun things: </p>
        <ul>
            {% for business in businesses %}
                <li><a href="/business/{{ business.getId }}">{{ business.getbusinessName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no businesses currently offering today</p>
    {% endif %}

    <form action='/businesses' method='post'>
        <label for='name'>Business name</label>
        <input id='name' name='name' type='text'>
        <button type='submit'>Add Business</button>
    </form>
</body>
