<html>
    <head>
        <title>Business Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Activities</a>
                <a class="navbar-brand" href='/businesses'>Businesses</a>
                <a class="navbar-brand" href='/userhome'>User Login</a>
                <a class="navbar-brand" href='/businesshome'>Business Login</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
        </div>
        </nav>
        <div class="container">
            <div class="left">
                <form class="form-horizontal" action='/businesshome' method='POST'>
                    <fieldset>
                        <div id="legend">
                            <legend class="">Add Your Business</legend>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="business_name">Business Name</label>
                            <div class="controls">
                                <input type="text" id="business_name" name="business_name" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter the name of your business</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="business_contact_email">E-mail</label>
                            <div class="controls">
                                <input type="text" id="business_contact_email" name="business_contact_email" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter your businesses E-mail</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"  for="business_phone">Business Phone</label>
                            <div class="controls">
                                <input type="text" id="business_phone" name="business_phone" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter your businesses phone number</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"  for="business_contact">Business Contact</label>
                            <div class="controls">
                                <input type="text" id="business_contact" name="business_contact" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter name of person at your business to contact</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"  for="business_website">Business Website</label>
                            <div class="controls">
                                <input type="text" id="business_website" name="business_website" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter your businesses website</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"  for="business_address">Business Address</label>
                            <div class="controls">
                                <input type="text" id="business_address" name="business_address" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter your businesses address</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success">Add Business</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="right">
            <div id="legend">
                <legend class="">List of Businesses</legend>
                {% if businesses is not empty %}
                <p> Here are the businesses offering fun things: </p>
            </div>
                <ul>
                {% for business in businesses %}
                    <li><a href="/business/{{ business.getId }}">{{ business.getBusinessName }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>There are no businesses currently offering today</p>
                {% endif %}
                <form action='/delete_businesses' method='post'>
                   <button type='submit' class="btn btn-danger">Delete All Businesses</button>
               </form> 
            </div>
        </div>
    </body>
</html>
