<html>
    <head>
        <title>Business Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>PayMe Shoes</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div>
                    <form action='/business_results' class="navbar-form navbar-left">
                    <div class='form-group'>
                        <input id='name' name='name' class='form-control' type='text' placeholder="enter a business name">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                    </form>
                </div>
                <div>
                    <form action='/brand_results' class="navbar-form navbar-left">
                <div class='form-group'>
                    <input id='name' name='name' class='form-control' type='text' placeholder="enter a brand name ">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
        </nav>
        <div class="container">

            <h1>update <em>{{ business.getName }}</em></h1>
            <form action="/businesses/{{ business.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">

            <div class='form-group'>
                <input id="name" name="name" type="text" placeholder="rename business">
                <button type="submit" class="btn-primary">Update</button>
            </div>
            <form action='/delete_business' method='post'>
                <button type='submit' class = "btn-danger">Delete this business</button>
            </form>
            </form>
        <div>
    </body>
</html>
