<html>
<head>
    <title>Walk ins Welcome</title>
</head>
<body>
    <h1>Go do something awesome!</h1>

    <h3><a href="/activities">Add or view an activity</a></h3>
    <h3><a href="/businesses">Add or view a business</a></h3>

</body>
</html>
