<html>
    <head>
        <title>Walk ins Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Activities</a>
                <a class="navbar-brand" href='/businesses'>Businesses</a>
                <a class="navbar-brand" href='/userhome'>User Login</a>
                <a class="navbar-brand" href='/businesshome'>Business Login</a>
            </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
        </div>
        </nav>
    <body>
        <h3>Add an Activity</h3>
        <form class="form-horizontal" action='/activity' method='POST'>
            <fieldset>
                <div id="legend">
                    <legend class="">Add an Activity</legend>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="activity_name">Activity Name</label>
                    <div class="controls">
                        <input type="text" id="activity_name" name="activity_name" placeholder="" class="input-xlarge">
                        <p class="help-block">Enter your activities name</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="activity_date">Activity Date</label>
                    <div class="controls">
                        <input type="text" id="activity_date" name="activity_date" placeholder="" class="input-xlarge">
                        <p class="help-block">Enter the date of the activity</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="activity_location">Activity Location</label>
                    <div class="controls">
                        <input type="text" id="activity_location" name="activity_location" placeholder="" class="input-xlarge">
                        <p class="help-block">Enter the address where the activity will take place</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="activity_description">Activity Description</label>
                    <div class="controls">
                        <input type="text" id="activity_description" name="activity_description" placeholder="" class="input-xlarge">
                        <p class="help-block">Enter a description of the activity</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="activity_price">Activity Price</label>
                    <div class="controls">
                        <input type="text" id="activity_price" name="activity_price" placeholder="" class="input-xlarge">
                        <p class="help-block">Enter the price of this activity</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="activity_quantity">Activity Quantity</label>
                    <div class="controls">
                        <input type="text" id="activity_quantity" name="activity_quantity" placeholder="" class="input-xlarge">
                        <p class="help-block">Enter the number of spots available for this activity</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success">Add Activity</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <h1>update <em>{{ business.getBusinessName }}</em></h1>

        <form action="/businesshome/{{ business.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
        </form>
        <div class='form-group'>
            <input id="name" name="name" type="text" placeholder="rename business">
            <button type="submit" class="btn-primary">Update</button>
        </div>
        <form action='/delete_business' method='post'>
            <button type='submit' class = "btn-danger">Delete this business</button>  
        </form>
    </body>
</html>
