<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>update <em>{{ business.getBusinessName }}</em></h1>

        <form action="/businesshome/{{ business.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">
        </form>
        <div class='form-group'>
            <input id="name" name="name" type="text" placeholder="rename business">
            <button type="submit" class="btn-primary">Update</button>
        </div>
        <form action='/delete_business' method='post'>
            <button type='submit' class = "btn-danger">Delete this business</button>
        </form>

    </body>
</html>
